.loginBg{
  background-image: url(./Images/loginImage.png);
  background-repeat: no-repeat;
  width: 750px;
  height: 750px;
  margin: auto;
}

.form{
  position: relative;
  top:75px;
  left: 100px;
}